/*スマホで見たときのレイアウト*/
body {
    background-color: rgb(253, 253, 253); 
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 0;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    text-align: center;
}

.menu li {
    list-style: none;
    padding: 9px;
    font-size: 1.125rem;
}

li a {
    text-decoration: none;
    color: black;
}

li img {
    width: 40px;
    height: auto;
}

.menu li:nth-of-type(n+2) {
    display: none;
}

.menu li:nth-of-type(2) {
    display: block;
}

main {
    padding-left: 0%;
}

#hidden {
    visibility: hidden;
}

.box {
    display: flex;
    align-items: flex-start;
    background-color: royalblue;
    padding: 10px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
                 -20px -20px 60px #ffffff; 
    margin-bottom: 9%;
}

.box a {
    word-break: break-all;
}

.content-block h1, .content-block h2, .content-block h3{
    margin: 0;
}

h4 p {
    margin: 0;
}

#hana-neko {
    border-radius: 50%;
    width: 60px;
    height: auto;
    margin-right: 10px;
}

.picture-column {
    display: flex;
    align-items: flex-start;
    width: 80%;
    height: auto;
}

.picture-column img {
    width: 100%;
    height: auto;
    padding-bottom: 5%;
}

.single-column {
    width: 100%;
    height: auto;
}

#port-desktop {
    width: 50%;
    height: auto;
}

#port-phone {
    width: 30%;
    height: auto;
}

/*タブレットやPC用のレイアウト*/
@media screen and (min-width: 600px) {

    .menu li {
        padding: 15px;
    }

    .menu li:nth-of-type(n+2) {
        display: block;
    }

    .menu li:nth-of-type(2) {
        display: none;
    }

    main {
        width: 50%;
        height: auto;
        margin: 0 auto;
    }

    #hana-neko {
        margin-right: 20px;
    }
}
